---
title: Haute OS X
body_class: index
---

.container
  
  .col-xs-10.col-sm-7.col-xs-centered.no-padding.text-center
    = image_tag "haute-icon.svg", class: "home-app-icon"
    %h1
      Haute OS X
    %h2 A GUI to help create style guides for web projects.
    %button.btn-download.btn.btn-outline-white
      .initial-state
        Coming Soon!
      .hover-state
        %i.fa.fa-apple
        OS X 10.7+

  .text-center
    = image_tag "haute-app-home.png", class: "home-app-image"
