.styleguide-example
  %h3.styleguide-section-header
    Typography
    -# %em= @section.filename
  -# .styleguide-description
  -#   %p= @section.description
  -#   - if @section.modifiers.any?
  -#     %ul.styleguide-modifier
  -#       - @section.modifiers.each do |modifier|
  -#         %li
  -#           %strong= modifier.name
  -#           \- #{modifier.description}
  .row.no-margin
    .styleguide-element.col-sm-6
      %h1 Heading One
      %h2 Heading Two
      %h3 Heading Three
      %h4 Heading Four
      %h5 Heading Five
      %h6 Heading Six

    %p.styleguide-element.col-sm-6
      Paragraph Text: Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare.
