!!!
%html
  %head
    %title Haute
    %script{src: "assets/app.js"}
    %link{href: "assets/app.css", rel: "stylesheet"}
  
  %body
    
    %header.project-title-container
      .project-selector
        %h1
        %button.btn-project-selector
          .arrow

        .project-selector-projects
          .project-selector-heading Projects
          %ul
      
      %button#add-project.btn-add-project +

    .row.relative
      %nav
        %ul.row
          %li.nav-active{data: { href: "project" }} Project
          %li{data: { href: "template" }} Template
          %li{data: { href: "blocks" }} Blocks
        
        %h5.js-build-complete Build complete!
        .build-project-container.form-group
          %button.build-project Build!

      .content
        = haml :project
