!!!
%html
  %head
    %title
    %script{:src => "assets/app.js"}
    %link{:href => "assets/app.css", :rel => "stylesheet"}
  %body
    .wrap
      %h1 Haute
      %input#variables{:placeholder => "Variables Location", :type => "text"}/
      %button#browse ...
      %button Build
