!!!
%html
  %head
    %title Haute
    %script{src: "assets/app.js"}
    %link{href: "assets/app.css", rel: "stylesheet"}
  
  %body
    
    %header.project-title-container
      .project-selector
        %h1
        %button.btn-project-selector
          .arrow

        .project-selector-projects
          .project-selector-heading Projects
          %ul
      
      %button#add-project.btn-add-project +

    %nav
      %ul.row
        %li.nav-active{data: { href: "project" }} Project
        %li{data: { href: "blocks" }} Blocks
        -# %li.btn-add-tab +

    .content
      = haml :project
