.js-project-page
  .compiled-css-location-container.form-group
    %input.compiled-css-location.js-browse-for-file{placeholder: "compiled css location", readonly: true}

  .stylesheets-location-container.form-group
    %input.stylesheets-location.js-browse-for-folder{placeholder: "stylesheets directory location", readonly: true}

  .variables-location-container.form-group
    %input.variables-location.js-browse-for-file{placeholder: "variables location", readonly: true}

  .output-location-container.form-group
    %input.output-location.js-browse-for-folder{placeholder: "output location", readonly: true}
