%footer
  .container
    .disclaimer.col-sm-6.col-sm-centered.no-padding
      :markdown
        This is an _alpha_ release, which means...it's nowhere near perfect. For example, there's no error notification. Brutal! On that note, it __is__ [open source](https://github.com/kohactive/haute-osx)! Find a problem? Fix it! Or at least add an issue.

  :markdown
    ##### Made by [Andy Richardson](http://andimal.co) with some help from the [kohactivators](http://kohactive.com)
